<div class="content">
    <p-card header="Bem-vindo!">
        <div class="login-content">
            <div class="login-asset"></div>
            <div class="login-inputs">
                <i class="fa-solid fa-user login-user-icon"></i>
                <p-inputGroup class="login-input-item">
                    <p-inputGroupAddon>
                        <i class="fa-solid fa-at"></i>
                    </p-inputGroupAddon>
                    <input pInputText placeholder="Email" />
                </p-inputGroup>
                <p-inputGroup class="login-input-item">
                    <p-inputGroupAddon>
                        <i class="fa-solid fa-key"></i>
                    </p-inputGroupAddon>
                    <input pInputText placeholder="Password" />
                </p-inputGroup>
            </div>
        </div>
    </p-card>
</div>